
.SidebarOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;
}

.SidebarOption h3{
    font-weight: 700;
    margin-left: 20px;
}
.SidebarOption:hover{
    background-color: #E8F5FE;
    color: rgb(0,149,200);
    transition: 100ms ease-in-out;
}
.SidebarOption--active{
    color: #1DA1F2;
}
